<launch>
    <node pkg="moos_ivp_bridge" type="moos_ivp_bridge_node" name="moos_ivp_bridge"/>
    <node pkg="asv_helm" type="asv_helm_node" name="asv_helm"/>
    <node pkg="zmq_bridge" type="agent_node" name="zmq_agent"/>
    <node pkg="asv_sim" type="asv_sim" name="asv_sim"/>
    <node pkg="zmq_bridge" type="supervisor_node" name="zmq_supervisor"/>
</launch>


